.accountList {
  margin-top: 1rem;
  @include flex-center(column);
  gap: 20px;

  @include media-for-range(m) {
    display: grid;

    grid-gap: 18px 10px;
    grid-template-columns: repeat(2, 1fr);
  }

  .accountItem {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    border: 1px solid $neutral-color-400;
    border-radius: 0.25rem;
  }

  .accountTitle {
    @include font-display-02(bold);
    overflow-wrap: break-word;
    margin-bottom: 0.5rem;
    width: 100%;
  }

  .accountBalance {
    margin-bottom: 0.5rem;
    width: 100%;
  }

  .accountLink {
    color: $blue-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}