.accountPage {
  @include flex-center(column);
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;

  .title {
    @include font-display-01(bold);
    overflow-wrap: break-word;
    width: 100%;
    @include media-for-xs {
      @include font-display-02(bold);      
    }
   
    margin-bottom: 1rem;
  }
}

